[submodule "vendor/window-margin"]
	path = vendor/window-margin
	url = https://github.com/aculich/window-margin.el.git
[submodule "vendor/emacs-assemblage-theme"]
	path = vendor/emacs-assemblage-theme
	url = https://github.com/jasonm23/emacs-assemblage-theme.git
