[submodule "packages/emacs-redmine"]
	path = packages/emacs-redmine
	url = https://github.com/gtp/emacs-redmine.git
[submodule "elisp/strace-mode"]
	path = elisp/strace-mode
	url = https://github.com/pkmoore/strace-mode.git
[submodule "elisp/dictionary-el"]
	path = elisp/dictionary-el
	url = https://github.com/myrkr/dictionary-el.git
[submodule "elisp/emacs-color-themes"]
	path = elisp/emacs-color-themes
	url = https://github.com/owainlewis/emacs-color-themes
